.task-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 20px;
  height: calc(100vh - 100px); /* Adjust this value based on your header height */
  padding: 20px;
  box-sizing: border-box;
}

.task-section {
  width: 300px; /* Adjust this width as needed */
  min-height: 200px; /* Minimum height for each section */
  padding: 16px;
  box-sizing: border-box;
}

.todo-title,
.inprogress-title,
.done-title {
  margin-bottom: 15px;
  text-align: left;
  width: 100%
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

.task-section ul li {
  cursor: grab;
}

.task-section ul li:active {
  cursor: grabbing;
}

@media (max-width: 968px) {
  .task-list {
    height: auto;
    align-content: stretch;
  }

  .task-section {
    width: 100%;
  }
}

  .task-section ul li {
    cursor: move;
  }
  
  .task-section ul li.dragging {
    opacity: 0.5;
  }
  
  .task-section.drop-target {
    background-color: #f0f0f0;
  }